[Unit]
Description=Check for morsePi family messages every ten minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
